<h1>Привет тебе, {{ name }}</h1>
<p class="lead">Это краткая автобиография.</p>
<blockquote>А здесь немного цитатника</blockquote>
<p>Это уже просто ординарный текст... Настоящий шаблон Twig должен заканчиваться расширением <code>.html.twig</code></p>