<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text navbar-left">Копилефт <a href="#" class="navbar-link">SmartNET Group</a></p>
    </div>
</nav>