<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">
                <img alt="SmartNET" src="images/logo.png">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="moscow.php">Москва</a></li>
            <li><a href="piter.php">Питер</a></li>
            <li><a href="kazan.php">Казань</a></li>
        </ul>
        <p class="navbar-text navbar-right">Подписан как <a href="#" class="navbar-link">И.Качинский</a></p>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Чего изволим...">
            </div>
            <button type="submit" class="btn btn-default">Искать</button>
        </form>
    </div>
</nav>